name: build
on:
  push: {}
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: '18'
          distribution: 'temurin'
      - name: Verify
        run: mvn hpi:verify
      - name: Build HPI
        run: mvn hpi:hpi
